/* BANNER */
.section-banner {
  //height: calc(100vh - $navbar-min-height);
  height: calc(100vh - 60px);
  //margin-top: 60px;
  background-image: url("../img/banner_new.jpg");
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;

  /*.loui-walking {
    position: absolute;
    top: 13%;
    left: 22%;
    width: 18%;
    opacity: 0;
    @include transition-all-ease(0.5s);
    &:hover {
      opacity: 0.7;
    }

    @include media-max-width($xl-breakpoint-max) {
      top: 15vh;
      left: 20vw;
      width: 25em;
    }
    @include media-max-width($lg-breakpoint-max) {
      top: 25vh;
      left: 16vw;
      width: 20em;
    }
    @include media-max-width($md-breakpoint-max) {
      top: 25vh;
      left: 0;
      width: 25em;
    }
    @include media-max-width($sm-breakpoint-max) {
      top: 25vh;
      left: -10vw;
      width: 20em;
    }
  }
  .ghost {
    position: absolute;
    top: 10vh;
    right: 21vw;
    width: 24em;
    opacity: 0;
    @include transition-all-ease(0.5s);
    &:hover {
      opacity: 1;
    }
    @include media-max-width($lg-breakpoint-max) {
      display: none;
    }
  }*/

  .loui_bending_down {
    position: absolute;
    top: 36%;
    left: 40%;
    width: 19%;
    opacity: 0;
    @include transition-all-ease(0.5s);
    &:hover {
      opacity: 1;
    }

    @include media-max-width($lg-breakpoint-max) {
      top: 40%;
      left: 40%;
      width: 21%;
    }
    @include media-max-width($md-breakpoint-max) {
      top: 25vh;
      left: 32%;
      width: 20em;
    }
    @include media-max-width($sm-breakpoint-max) {
      top: 38vh;
      //left: -10vw;
      left: 18%;
      width: 16em;
    }
  }
}
