// regular
@font-face {
  font-family: "Sequel Wide";
  src: url("../fonts/Sequel 100_Wide_45.ttf");
}

@font-face {
  font-family: "Sequel Wide Bold";
  src: url("../fonts/Sequel_100_Wide_55.ttf");
}

/*@font-face {
  font-family: "Sequel Wide";
  src: url("../fonts/Sequel_100_Wide_85.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Sequel Wide";
  src: url("../fonts/Sequel_100_Wide_86.ttf");
  font-weight: bold;
  font-style: italic, oblique;
}*/
