.newsletter {
  width: 50%;
  margin-top: 50px;
  text-align: center;

  form {
    margin-top: 15px;
    .captcha-container {
      margin-top: 25px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  button,
  input[type="email"] {
    display: inline-block;
    vertical-align: middle;
    border-radius: 0;
    background-color: transparent;
    color: #fff;
    border: solid 2px #fff;
    height: 40px;
    &:focus {
      box-shadow: none;
    }
  }

  input[type="email"] {
    width: 60%;
    border-right: 0;
    &::placeholder {
      color: #fff;
      opacity: 0.6;
    }
  }
  button {
    color: #fff;
  }

  .big_name {
    font-weight: bold;
    font-size: 3.25rem;
  }

  @media (max-width: 960px) {
    .big_name {
      font-size: 2.6rem;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    .big_name {
      font-size: 2rem;
    }
  }

  @media (max-width: 480px) {
    .big_name {
      font-size: 1.8rem;
    }
  }

  @media (max-width: 320px) {
  }
}

.modal-newsletter {
  .modal-content {
    background-color: $bg-color;
    .close {
      color: $primary;
    }
    .modal-header {
      padding-bottom: 0;
      border-bottom: 0;
      .modal-title {
        text-align: center;
        width: 100%;
      }
    }
    .modal-body {
      //padding-top: 0;
      p {
        padding-left: 3%;
      }
    }
  }
}

#mc_embed_signup {
  #mc-embedded-subscribe-form {
    .clear {
      margin-bottom: 15px;
    }
    .mc-field-group {
      input {
        background-color: $bg-color;
        border: solid 2px;
        border-radius: 0;
        color: $primary;
        &.mce_inline_error {
          border-color: #c41616;
        }
        &:focus {
          border-radius: 0;
          border-width: 2px;
        }
      }
    }

    input[type="submit"],
    button.btn {
      border-radius: 0;
      background-color: transparent;
      border: solid 2px $primary;
      line-height: 1;
      padding-bottom: 1px;
      height: 38px;
      color: #fff;
      font-size: 1.2em;

      &:focus {
        border: solid 2px $primary;
        border-radius: 0;
      }
      &:hover {
        background-color: $primary;
        color: $bg-color;
      }
    }
  }
}
