.newsletter {
  width: 50%;
  margin-top: 50px;
  text-align: center;

  form {
    margin-top: 15px;
    .captcha-container {
      margin-top: 25px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  button,
  input[type="email"] {
    display: inline-block;
    vertical-align: middle;
    border-radius: 0;
    background-color: transparent;
    color: #fff;
    border: solid 2px #fff;
    height: 40px;
    &:focus {
      box-shadow: none;
    }
  }

  input[type="email"] {
    width: 60%;
    border-right: 0;
    &::placeholder {
      color: #fff;
      opacity: 0.6;
    }
  }
  button {
    color: #fff;
  }

  .big_name {
    font-weight: bold;
    font-size: 3.25rem;
  }

  @media (max-width: 960px) {
    .big_name {
      font-size: 2.6rem;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    .big_name {
      font-size: 2rem;
    }
  }

  @media (max-width: 480px) {
    .big_name {
      font-size: 1.8rem;
    }
  }

  @media (max-width: 320px) {
  }
}
