$font-family-sans-serif: "Sequel Wide";

// Colors
$primary: white;
$bg-color: #000;

// Social Media Colors
$spotify-color: #1ed760;
$apple-color: #000;
$youtube-color: #ff0000;
$twitter-color: #00acee;
$snapchat-color: #fffc00;
$soundcloud-color: #ff5500;

// Settings
$navbar-min-height: 60px;

// Media Breakpoints
$xs-breakpoint-max: 379px;
$xs-breakpoint-min: 380px;
$sm-breakpoint-max: 479px;
$sm-breakpoint-min: 480px;
$md-breakpoint-max: 767px;
$md-breakpoint-min: 768px;
$lg-breakpoint-max: 1579px;
$lg-breakpoint-min: 1580px;
